* {
  margin: 0;
  padding: 0;
}

/* Header Section Styling */
#header-section {
  height: 90vh;
  background-image: url('Hero.png');
  background-size: cover;
  background-position: center;
}

.logo {
  padding: 40px;
}

.logo img {
  float: left
}

.logo button {
  float: right;
  padding: 15px;
  background: none;
  border: 1px solid white;
  color: white;
}

#header-section h1 {
  margin: auto;
  color: white;
  padding-top: 15%;
  font-size: 50px;
  font-weight: bold;
}

/* Nav Section Styling */

#nav-section {
  width: 100%;
  min-height: 10vh;
}

#nav-section ul{
  list-style-type: none;
  display: flex;
  height: 100%; 
}

@media screen and (max-width: 700px) {
  #nav-section ul{
    flex-direction: column;
  }
}

#nav-section ul li {
  flex: 1;
  text-align: center;
  padding: 20px;
  height: 100%;
}

#nav-section ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

#nav-section ul li:hover {
  background-color: grey;
}

#nav-section ul li:hover a {
  color: white;
}